:root {
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 6px;
  --space-md: 8px;
  --space-lg: 10px;
  --space-xl: 12px;
  --space-2xl: 16px;
  --space-3xl: 24px;

  --font-size-xs: 11px;
  --font-size-sm: 12px;

  --border-thin: 1px;
  --border-strong: 2px;

  --icon-size-md: 34px;
  --icon-size-sm: 24px;
  --scrollbar-size: 10px;

  --offset-popup: 6px;
  --offset-menu: 4px;
}
